.git
.gitignore
.github
.gitattributes
.vscode
.idea
*.log
*.pid
*.seed
*.md
node_modules
backend/__pycache__
backend/*.egg-info
backend/.pytest_cache
.env
.DS_Store
dist
build
.mypy_cache
.ruff_cache
venv
env
.venv
